.da-content {
    max-width: 1800px;
}

body {

    font-family: 'Open Sans', sans-serif;

}


a{
    color:#000;
}
a:hover{
    color:#757575;
    text-decoration: none;
    font-weight: 100;

}

.breadcrumb{
    background:none;
    font-size: 0.9em;

    a{
        color: #ababab;
        &:hover{
            color:#000
        }
    }
    .breadcrumb-item{
        color: #ababab;

    }
}

h1{
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4em;
}

.art-desc{
p{


    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    letter-spacing: .1em;
    line-height: 2em;
    text-transform: none;
    color: #ababab;
}
}

/* ---- grid ---- */



.grid {

}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */
.grid-item {
    border: 10px solid #FFF;

    h2{
        font-family: 'Cuprum', sans-serif;
        text-transform: uppercase;
    }


}

.grid-sizer,
.grid-item {
    width: 100%;

    @media (min-width: $xs-max) {
        width: 33.33%;
    }
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
   width: 100%;
}

.view-details{
   font-variant: small-caps;
   &:hover{
       text-decoration: none;
   }

}

hr{
    &.footer-line{
        border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}


footer{
    .social-icons a{
        font-size:2em;
    }
    .footer-links{
        font-size:.75em;
    }
}
